body {
    background: linear-gradient(to bottom, #000000, #087b9e, #027497);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
}

header img {
    width: 100px;
}

.botaonavdiv {
    display: flex;
    justify-content: center;
}

.botaonav {
    background: none;
    color: white;
    border: none;
    font-size: 25px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    text-align: center;
    margin-right: 40px;
    background: rgb(201, 158, 2);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 8px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 2px black;
    gap: 10px;
    padding: 5px 5px;
}

.colunaimg img {
    width: 200px;
    border: 2px solid rgb(117, 27, 27);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#divsobre {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 0 auto;
        background: url(imagens/fundo/divfundo2.jpg);
        border-radius: 15px;
        padding: 20px;
        background-size: 85%;
        
}

.sobrejogo,
.sobremim {
    width: 440px;
    
    text-align: center;
    background: rgba(0, 0, 0, 0.598);
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    backdrop-filter: blur(6px);
}
.sobrejogo {
    height: 670px;
}

.sobrejogo p, .sobremim p {
    text-align: justify;
    font-size: 19px;
    line-height: 1.8;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.055);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.gridimg {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 30px;
    margin: 10px;
}
#divhistoria {
    

}

.historiajogo {

    background: rgba(0, 0, 0, 0.642);
    border-radius: 10px;
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.historiajogo p {
    font-size: 20px;
    line-height: 1.5;
    
    
    

}
.historiajogo h2 {
    
}

.jogarbtn {
    text-align: center;
    background: rgba(105, 105, 105, 0.388);
    margin: 20px;
    padding: 5px 5px 10px 5px;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.play {
    font-size: 30px;
    border-radius: 10px;
    background: green;
    border: 2px solid black;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    background: rgb(199, 147, 5);
}

footer p {
    text-align: center;
    font-size: medium;
    font-style: italic;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: white;
    margin-left: 45px
}

nav {
    display: none;
}

nav.ativo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



@media (min-width: 769px) {
    /* CSS pra PC */

    body {
        background: linear-gradient(to bottom, #000000, #087b9e, #027497);





    }

    main {}

    

    .botaonav {
        display: none;
    }


    nav {
        display: flex;
        background: transparent;
        margin: 0px auto;
        border-radius: 20px;
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 810px;

        height: 45px;






    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 10px;


    }

    nav ul li {}

    nav ul li a {
        width: 117px;
        font-size: 25px;
        color: rgb(0, 0, 0);
        transition: all 0.5s;
        background: none;
        text-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 5px;
        border: 1px solid #444;
        border-radius: 20px;
        padding: 5px 10px;
        backdrop-filter: blur(10px);







    }

    nav ul li a:hover {
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 5px #b5b5b5;
        box-shadow: 0px 0px 5px #00ffff;
        background: #027497;
    }

    header {}

    header img {
        width: 100px;
    }

    header h5 {
        background: rgba(0, 0, 0, 0.605);
        width: 280px;
        margin: 0 auto;
        border-radius: 5px;

    }

    #divsobre {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        width: 0 auto;
        background: url(divfundo2.jpg);
        border-radius: 15px;
        padding: 20px;
        background-size: 85%;



    }

    #divsobre h2 {
        color: rgb(255, 192, 20);
        
        font-weight: bold;
        letter-spacing: 1px;
        position: relative;
        bottom: 50px;
    }

    .sobrejogo,
    .sobremim {
        max-width: 510px;
        max-height: 400px;
        text-align: center;
        background: rgba(0, 0, 0, 0.753);
        margin: 10px;
        border-radius: 15px;
        padding: 10px;
        backdrop-filter: blur(6px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        height: 300px;
        display: flex;
        flex-direction: column;



    }

    .sobrejogo p,
    .sobremim p {
        font-size: 16px;
        background: none;
        line-height: 1.2;
        color: #eee;
        position: relative;
        bottom: 50px;
        padding: 4px;
        
    }

    .gridimg {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        margin-top: 50px;
    }

    .colunaimg img {
        width: 250px;
    }

    #imgdestaque {
        position: relative;
        top: 5px;
    }

    main h2 {
        margin-top: 50px;
    }


    .jogarbtn {
        display: block;
        background: rgba(210, 210, 210, 0.295);
        width: 300px;
        height: 120px;








    }

    .jogarbtn h2 {
        color: rgb(255, 255, 255);
        font-style: italic;
        position: relative;
        bottom: 50px;
        font-size: 30px;
        background: rgba(205, 205, 205, 0.349);
        border-radius: 10px;
        padding: 10px;

    }

    .play {
        font-size: 30px;
        border-radius: 20px;
        background: green;
        border: 5px solid black;
        margin: 5px;
        position: relative;
        bottom: 65px;



    }

    footer {
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 10px 10px 0px 0px;


    }

    footer ul {
        text-align: center;
        margin-left: 30px;
    }

    footer ul li {
        text-align: center;

    }

    footer ul li a {}
}